/*------------COMMON------------*/


/* COMMON SETTING */

body {
	font-weight: 500;
	font-size: 1.2rem;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: 200!important;
}

.contents {
	margin: 50px auto;
	max-width: 1100px;
}

.diagonal-contents {
  position: relative;
  overflow: hidden;
  padding: 70px auto;
}

.diagonal-contents:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 120%;
  height: 80%;
  margin: 3% -10% 0;
  background: #b71c1c;
  -webkit-transform-origin: left center;
  -ms-transform-origin: left center;
  transform-origin: left center;
  -webkit-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  z-index: -1;
}

.diagonal-inner {
  width: 100%;
  max-width: 1100px;
  height: 100%;
  margin: 0 auto;
  padding: 100px 10px 200px;
	 box-sizing: border-box;
  color: #fff;
}

.reverse-diagonal-contents {
  position: relative;
  overflow: hidden;
  margin: 20px 0;
  padding: 70px auto;
}

.reverse-diagonal-contents:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 120%;
  height: 70%;
  margin:3% -10% 0;
  background: #b71c1c;
  -webkit-transform-origin: right center;
  -ms-transform-origin: right center;
  transform-origin: right center;
  -webkit-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
  z-index: -1;
}

.contents-title {
	margin: 30px auto 50px;
	text-align: center;
}

.contents-title h2 {
	margin: 0;
	font-size: 3rem;
}

/* TEXT COLOR LIST */

.main-color {
  color: #c62828!important;
}

.emphasis-color {
  color: #ffab40!important;
}

.default-color {
  color: rgba(0, 0, 0, 0.8)!important;
}

.muted-color {
  color: rgba(0, 0, 0, 0.5)!important;
}

.link-color {
	color: #4fc3f7!important;
}

.white-color {
	color: #fff!important;
}

.white-muted-color {
	color: rgba(255, 255, 255, 0.6)!important;
}

/* BACKGROUND COLOR LIST */

.main-bg {
  background: #c62828!important;
}

.emphasis-bg {
  background: #ffab40!important;
}

.white-bg {
	background: #fff!important;
}

.muted-grey-bg {
	background: #37474f!important;
}

.grey-bg {
	background: #263238!important;
}


/*------------END COMMON------------*/


/*------------STYLE------------*/


/* NAVBAR */

.nav-list li a {
	color: rgba(0, 0, 0, 0.8);
}

.nav-list .current {
	background: #ffab40;
}

.nav-list .current a {
	color: #fff;
}

/* MAIN IMAGE */

.slick-slider {
	margin: 0;
}

.main-img {
	width: 100%;
	height: 650px;
	position: relative;
	overflow: hidden;
	filter: brightness(70%);
}

.slider-img {
	opacity: 0;
	width:100%;
	height:100%;
	object-fit: cover;
	position: absolute;
	left: 0;
	top: 0;
	-webkit-animation: anime 36s 0s infinite;
	animation: anime 36s 0s infinite;
}

.slider-img:nth-of-type(2) {
	-webkit-animation-delay: 6s;
	animation-delay: 6s;
}

.slider-img:nth-of-type(3) {
	-webkit-animation-delay: 12s;
	animation-delay: 12s;
}

.slider-img:nth-of-type(4) {
	-webkit-animation-delay: 18s;
	animation-delay: 18s;
}

.slider-img:nth-of-type(5) {
	-webkit-animation-delay: 24s;
	animation-delay: 24s;
}

.slider-img:nth-of-type(6) {
	-webkit-animation-delay: 30s;
	animation-delay: 30s;
}

@keyframes anime {
	0% {
		opacity: 0;
	}

	8% {
		opacity: 1;
	}

	17% {
		opacity: 1;
	}

	25% {
		opacity: 0;
		transform: scale(1.2);
		z-index:9;
	}
	
	100% {
		opacity: 0
	}
}

@-webkit-keyframes anime {
	0% {
		opacity: 0;
	}
	
	8% {
		opacity: 1;
	}
	
	17% {
		opacity: 1;
	}
	
	25% {
		opacity: 0;
		-webkit-transform: scale(1.2);
		z-index: 9;
	}
	
	100% {
		opacity: 0
	}
}

.logo-animation {
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 50%;
}

.logo-animation h1 {
	margin: 0 auto 10px;
	text-align: center;
	font-size: 1.5rem;
}

path {
	stroke: #fff;
	fill: #fff;
	stroke-dasharray: 1800;
	opacity: 10;
	animation: animate 4s cubic-bezier(0,0.23,1,.1)
}

@keyframes animate {
	0% {
		opacity: 0;
		fill: none;
		stroke-dashoffset: 1800;
	}
	
	30% {
		opacity: 10;
		fill: none;
		stroke-dashoffset: 1800;
	}
	
	90% {
		fill: none;
	}
	
	100% {
		opacity: 10;
		fill: none;
		stroke-dashoffset: 0;
	}
}

/* CONTENTS 01 */

#concept .comment {
	line-height: 2.3;
}

#concept .comment h3 {
	font-size: 1.7rem;
}

/* CONTENTS 02 */

#service .card {
	background: inherit;
}

#service .card-image {
	overflow: hidden;
}

#service .card-image img {
	max-height: 220px;
	object-fit: cover;
	transition-duration: 0.6s;
	filter: brightness(70%);
}

#service .card-image img:hover {
	transform: scale(1.1);	/*画像の拡大率*/
	filter: brightness(100%);
	transition-duration: 0.6s;
}

#service .card-title small {
	margin-left: 15px;
	display: block;
	font-size: 14px;
}

#service .card-content p {
	font-size: 1rem;
}

#service .card-action {
	padding: 0;
}

#service .card-action a {
	width: 100%;
	padding: 16px 24px;
	text-align: right;
	display: block;
}

/* CONTENTS 03 */

#price img {
	height: 450px;
	object-fit: cover;
}

#price .price-menu {
	padding: 30px 50px;
}

#price h3 {
	font-size: 2rem;
}

#price table th {
	color: #fff;
	font-weight: 300;
}

#price table td {
	color: #fff;
	font-weight: 300;
}

/* CONTENTS 04 */

#topic .topic-card {
	margin: 0 15px 50px;
	padding: 15px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
}

#topic .topic-day p {
	margin: 0;
	font-weight: 300;
}

#topic .topic-head {
	padding: 20px 0;
}

#topic .topic-head h3 {
	margin: 0;
	font-size: 1.3rem;
}

#topic .topic-body p {
	margin: 0;
	font-size: 1rem;
	font-weight: 300;
}

/* CONTENTS 05 */


#information.diagonal-contents:before {
	background: #263238;
}

#information i {
	display: block;
	text-align: center;
}

#information .row {
	margin-bottom: 35px!important;
	display: flex;
	flex-wrap: wrap;
}

#information h3 {
	text-align: center;
	font-size: 1.4rem;
}

#information h4 {
	text-align: center;
	line-height: 1.7;
	color: rgba(255, 255, 255, 0.8);
	font-size: 1rem;
}

/* CONTENTS 06 */

#contact h3 {
	font-size: 2.5rem;
	font-weight: 300!important;
}

#contact h4 {
	font-size: 1.5rem;
}

#contact h5 {
	margin: 25px;
	font-size: 2.5rem;
}

#contact .hours {
	padding: 20px 20px 40px;
}

#contact .hours .lunch,
#contact .hours .dinner {
	border-bottom: 2px solid #fff;
}

/* FOOTER */

#footer {
	padding: 0;
}

#footer .map {
	height: 0;
	overflow: hidden;
	padding-bottom: 35%;
	position: relative;
}

#footer .map iframe {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
}

#footer h2 {
	font-size: 2rem;
}

#footer h3 {
	font-size: 1.5rem;
}

#footer ul li {
	line-height: 2.2;
}

/* PAGE COMMON */

.parallax-container {
	height: 450px!important;
	z-index: 0;
}

.parallax {
	filter: brightness(50%);
}

.parallax-text {
	width: 50%;
	top: 45%;
	left: 50%;
	text-align: center;
	position: absolute;
	transform: translate(-50%, -50%);
	z-index: 1;
}

.parallax-text h1 {
	font-size: 3rem;
}

/* SELLING */

#selling .page-text {
	padding: 30px;
}

#selling .responsive-img {
	height: 350px;
	object-fit: cover;
}

#selling .page-text h4 {
	line-height: 1.7;
	font-size: 1.4rem;
}

#selling .page-text h2 {
	font-size: 1.4rem;
}

#selling .page-text h3 {
	margin: 30px 0;
	font-size: 1.8rem;
}

#selling .page-text h4 {
	line-height: 1.7;
	font-size: 1.2rem;
}

/* MOVIE */

#movie .card-content p {
	text-align: right;
	cursor: pointer;
	font-size: 1rem!important;
}

#movie .responsive-video {
	width: 100%;
	max-height: 135px;
	object-fit: cover;
}

#movie .card-content p i {
	margin: 0;
}

#movie .card-reveal p {
	font-size: 1rem;
}

/* QUESTION & ANSWER */

#question-and-answer .collapsible-header {
	align-items: center;
}

#question-and-answer ul li span {
	margin-right: 15px;
}

#question-and-answer ul li h3 {
	margin: 0;
	display: inline-block;
	font-size: 1rem;
}

#question-and-answer ul li h4 {
	margin: 0;
	display: inline-block;
	font-size: 1rem;
}


/*------------END STYLE------------*/


/*------------RESPONSIVE------------*/


/* RESPONSIVE */

@media screen and (min-width: 600px) {
	
	/* COMMON */
	
	.sp {
		display: none;
	}
	
	.contents {
		margin-bottom: 80px;
	}
} 

@media screen and (max-width: 600px) {
	
	/* COMMON */
	
	.pc {
		display: none;
	}
	
	.logo-animation {
		width: 100%;
	}
	
	.contents {
		margin: 50px 15px;
	}
	
	.diagonal-contents:before {
		width: 130%;
		height: 90%;
		margin: 3% -15% 0;
	}
	
	.reverse-diagonal-contents:before {
		height: 90%;
		margin: 3% -15% 0;
	}
	
	.diagonal-inner {
		padding-bottom: 250px;
	}

	.row .col {
		padding: 0;
	}
	
	/* CONTENTS01 */
	
	#concept .comment {
		line-height: 2.3;
	}

	#concept .comment h3 {
		font-size: 1.2rem;
	}
	
	#concept .comment p {
		font-size: 1rem;
	}
	
	/* CONTENTS03 */
	
	#price .price-menu {
		margin-top: 15px;
		padding: 30px 20px;
	}
	
	/* CONTENTS06 */
	
	#contact .row {
		margin: 0!important;
	}
	
	#contact .col {
		margin-bottom: 15px;
	}	
	
	/* FOOTER */
	
	#footer .map {
		padding-bottom: 50%;
	}
	
	/* PAGE */
	
	.parallax-text {
		width: 100%;
	}

}


/*------------END RESPONSIVE------------*/